
@{
    Layout = null;
}


<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    
<table class="table table-bordered">
  <thead>
      <tr>
          <th>ID</th>
          <th>Ad</th>
          <th>Açıklama</th>
          <th>Durum</th>
          <th>Güncelle</th>
      </tr>
  </thead>
    <tbody>
        <tr>
            <td>Murat</td>
            <td>Murat</td>
            <td>Murat</td>
            <td>Murat</td>
            <td><button class="btn btn-success">Güncelle</button></td>
        </tr>
    </tbody>

</table>
<button class="btn btn-info">Yeni Kategori</button>
<button class="btn btn-warning">Kategori Listesi</button>
